{% macro headingWithCaption(caption, headingKey) %}
  {% set html = [
    '<span class="govuk-caption-xl">', caption, '</span>',
    '<h1 class="govuk-fieldset__heading">', messages(headingKey), '</h1>'
  ] | join %}

  {{ html | safe }}
{% endmacro %}
